body
{
margin:0;
background-color:gray;
height:100%;
}


#wrapper
{
height:1100px;
width:1600px;
border:17px #212121 solid;;
position:absolute;
left:90px;

}

#panel_wrapper
{
height:100%;
background-color:#212121;
}

#copy
{
width:290px;
height:1100px;
background-color:#212121;
position:absolute;
}

header
{
padding-top:20px;   
}

h1{
text-align:center;
margin:0;
padding:0;
color:#fff;
font-size:2.75em;
font-family: 'Dancing Script', cursive;
letter-spacing:1px;
}

hr
{
border: 0;
height: .5px;
background: #fff;
width:90%;    
}



#panel_body
{
margin-top:2%;
margin-left:10%;
width:50%;
height:200px;
}

h2
{
font-family: 'Roboto Slab', serif;
font-weight:700;
letter-spacing:3px;
color:white;
font-size:2em;
margin-top:25%;
margin-left:10%;
}

.circle
{
height:25px;
width:25px;
border-radius:50%;

margin-top:30%;
}

.circle + .circle
{
margin-top:30%;    
}

#red
{
background-color:#FF0074;

}
#blue
{
background-color:#0068FF;   

}
#yellow
{
background-color:#FFF800;
}
#green
{
background-color:#00FF6D;   
}



#labels
{
margin-top:-76%;
margin-right:14%;
width:50%;
height:200px;
float:right;
}

p
{
color:white;  
font-family: 'Roboto Slab', serif;
font-weight:400;
letter-spacing:1.5px;
font-size:1.25em;
}

p + p
{
margin-top:30%;    
}

#map_wrapper
{
float:right;
}
        
#map-canvas 
{
position:relative;
position:absolute;
width: 1290px;
height: 1120px;
z-index:-5;
top:-6px;   

}
        
#design-canvas
{   
position:relative;
width:1310px;
z-index:2;
}
        
img
{
width:100%;
}

.dots
{
width:20px;
height:20px;
border-radius:50%;
position:absolute;
z-index:10;
cursor:pointer;
transition: all 0.3s ease-out;
}

.dots:hover
{
width:40px;
height:40px;
margin-left:-20px;
margin-top:-20px;
}

#aquarium, #oldjail
{
background-color:#FFF800;
}

#brittlebank, #tacoboy, #marina
{
background-color:#00FF6D;
}


#aquarium
{
right:11.9%;
top:42.4%
    
}

#oldjail
{
top:73.5%;
right:28.9%;
}

#brittlebank
{
top:53.9%;
right:61.2%;
}

#tacoboy
{
top:11.7%;
right:35.1%;
}

#marina
{
top:71.2%;
right:49.7%;
}